# ignore all zips
*.zip
/Introduction_To_OS/Project_1a/test.txt
/Introduction_To_OS/Lecture_Resources/*
/Computational_Photography/Research_Project/deepdream/*
/Computational_Photography/Research_Project/Inceptionism/Points_Art/*
